.no-scroll::-webkit-scrollbar {
  display: none;
}

.no-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carousel-container {
  overflow: hidden;
  white-space: nowrap;
  overflow-x: auto;
  display: flex;
  margin-top: 32px;
  margin-left: 32px;
  left: 0;
}

.carousel-item {
  display: inline-block;
  margin-right: 32px;
  width: 20%;
}

.carousel-image {
  height: 128px;
  border-radius: 5px;
  border: solid 1px gray;
}

.carousel-text {
  color: #A5A3A4;
  white-space: normal;
  word-wrap: break-word;
  width: 100%;
}