.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 32px 0;
  background-color: #3D3F44;
}

.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 32px;
}

.welcome {
  color: #A5A3A4;
  font-size: xx-large;
}

.profile-pic {
  height: 45px;
  border-radius: 50px;
}

.recent-movies {
  color: #A5A3A4;
  margin-top: 64px;
  margin-left: 32px;
  margin-right: 32px;
  font-size: larger;
}