.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 32px 0;
    background-color: var(--color2);
}

.profile-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 32px;
}

.welcome {
    color: var(--color5);
    font-size: xx-large;
}

.profile-pic {
    height: 45px;
    border-radius: 50px;
}

.recent-movies {
    color: var(--color5);
    margin: 64px 32px 0 32px;
    font-size: larger;
}